.idea
*.ipr
*.iws
*.DS_Store
*.bak
*.iml
target
staging
overlays
examples
pom.xml.bak
pom.xml.releaseBackup
release.properties
logs/
*.classpath
*.settings
*.project
*/test-output/
*/src/test/resources/*.jar
dependency-reduced-pom.xml
dependency-reduced-pom.xml.bak
